@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


body {
    font-family: 'Roboto', sans-serif;
}
.content{
    margin-top: 0px;
    width: 100%;
    min-height: 450px;
    background: white;
    overflow: auto;
}
.content_body{
    margin: 40px 10px;
}
.content_body_title{
    margin-bottom: 30px;
}
.content_body_font{
    color: #48748d;
}
.content_body_blue{
    color: blue;
}
.content_body_red,.invalid{
    color: red;
}
.red-btn {
    border: 1px solid #ff6961;
    background-color: #fff;
}
.red-btn:hover {
    background-color: #ff6961;
}